// Naming convention:
//
// .module_name
// .module_name-element
// .module_name--modifier
// .module_name.is-active
// .module_name.has-context

.page
  max-width: 39em
  margin: 0 auto
  padding: 1.5em 9em 9em 4.5em
  background: #fff
  border: 1px solid #dfdfdf
  border-width: 0 1px 1px 0

  @media (max-width: 780px)
    &
      padding: 1.5em 5.2em 5.2em 2.6em

  @media (max-width: 480px)
    &
      padding: .75em 2.6em 2.6em 1.3em
