body {
  margin: 0;
  padding: 0;
  color: #252525;
  font: normal 12pt/1.5 Cambria, Georgia, serif;
}

a {text-decoration: none; color: #252525}

/* magic */
a[href]:after {
  content: " (" attr(href) ") ";
  font-size: 90%
}

a[href^="#"]:after {content: ""}

form, .noprint {display: none}
