body {
  font: 1em/1.5 $serif;
  color: $text-color;
  background: $bg-color;
}

a {
  &:link {color: $link-color}
  &:visited {color: $link-visited-color}
  &:active, &:hover {color: $link-active-color}
}

h1, h2, h3, h4, p, ul, ol {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  padding: 1.5em 0
}

h2 {
  font-size: 1.5em;
  padding: 1.75em 0
}

h3 {
  font-size: 1.16em;
  padding: 1.82em 0
}

h4 {
  font-weight: bold
}

p, pre {
  margin: 0 0 1.5em
}

pre, code {
  font-family: $monospaced;
  font-size: 87.5%;
  color: $code-color;
}

pre code {font-size: 1em}

ul {
  margin-bottom: 1.8em;
  list-style: square inside
}

li > ul, li > ol {
  margin-bottom: 0;
  margin-left: 2.5em
}

li > ul li, li > ol li {font-size: 1em}

ol {
  margin-bottom: 1.8em;
  list-style: decimal inside
}

