@media (max-width: 780px) {
  body {font-size: 16px}

  .page {
    padding: 1.5em 5.2em 5.2em 2.6em
  }
}

@media (max-width: 480px) {
  body {font-size: 14px}

  h1 {
    font-size: 1.5em;
    padding: 1.75em 0
  }

  h2 {
    font-size: 1.33em;
    padding: 1.5em 0
  }

  h3 {
    font-size: 1.16em;
    padding: 1.82em 0
  }

  .page {
    padding: .75em 2.6em 2.6em 1.3em
  }
}
