// The core consists of six components:
// 1. Reset (normalize.css)
// 2. Settings (@font-face, fonts, colors, global variables)
// 3. Helpers (extends, functions, mixins)
// 4. Base (base-level tags)
// 5. Content (base-level typography - colors, fonts)
// 6. Layout (base-level layout - margin, padding, sizing)

//= require normalize-css

@import 'core/_settings';
@import 'core/_helpers';
